<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <div class="ctype_{data.CType}-above">
        <div class="textpic-text">
            <f:if condition="{data.header}">
                <h2>
                    <f:format.htmlspecialchars doubleEncode="false">{data.header}</f:format.htmlspecialchars>
                </h2>
            </f:if>
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
        <f:if condition="{images}">
            <f:then>
                <div class="textpic-img">
                    <f:for each="{images}" as="image">
                        <f:image src="{f:uri.image(image: image)}" alt="{image.alternative}" title="{image.title}" />
                    </f:for>
                </div>
            </f:then>
        </f:if>
</f:section>

</html>