<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container-fluid footer-container">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-3 footer-section">
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">University of Copenhagen</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="UCPH Management" href="https://about.ku.dk/management/">Management</a></li>
                                <li><a aria-label="UCPH Administration" href="https://about.ku.dk/organisation/administration/">Administration</a></li>
                                <li><a aria-label="UCPH Faculties" href="https://about.ku.dk/organisation/faculties/">Faculties</a></li>
                                <li><a aria-label="UCPH Departments" href="https://about.ku.dk/organisation/departments/">Departments</a></li>
                                <li><a aria-label="UCPH Research Centres" href="https://research.ku.dk/areas/centres/">Research centres</a></li>
                                <li><a aria-label="UCPH animal hospitals" href="https://vetschool.ku.dk/english/about/animal-hospitals/">Animal hospitals</a></li>
                                <li><a aria-label="UCPH School of Dentistry" href="https://odontology.ku.dk/patient-info/">School of Dentistry</a></li>
                                <li><a aria-label="UCPH' libraries" href="https://kub.ku.dk/english/">Libraries</a></li>
                                <li><a aria-label="UCPH museums" href="https://about.ku.dk/visit/museums/">Museums</a></li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <div class="col-lg-3 footer-section">
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Contact</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="University map" href="https://findvej.ku.dk/english/">Map</a></li>
                                <li><a aria-label="Find an employee at UCPH" href="https://about.ku.dk/contact/phone-book/">Find an employee</a></li>
                                <li><a aria-label="Contact UCPH" href="https://about.ku.dk/contact/">Contact UCPH</a></li>
                              </ul>
                        </div>
                    </details>
                </div>
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Services</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="UCPH press and media service" href="https://news.ku.dk/press-service/">Press and media service</a></li>
                                <li><a aria-label="UCPH merchandise" href="http://www.ku-shop.dk/en/">Merchandise</a></li>
                                <li><a href="https://about.ku.dk/apps/">UCPH apps</a></li>
                                <li><a aria-label="UCPH IT-support" href="https://about.ku.dk/organisation/administration/it/">IT-support</a></li>
                                <li><a href="https://about.ku.dk/contact/for-suppliers/">For suppliers</a></li>
                              </ul>
                        </div>
                    </details>
                </div>
            </div>
            <div class="col-lg-3 footer-section">
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">For students and employees</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="KUnet - intranet for students and employees" class="padlock" href="https://kunet.ku.dk/en">KUnet</a></li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Job and career</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="UCPH job portal" href="https://employment.ku.dk">Job portal</a></li>
                                <li><a aria-label="UCPH alumni" href="https://alumni.ku.dk/english/">Alumni</a></li>
                              </ul>
                        </div>
                    </details>
                </div>
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Emergencies</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="UCPH Emergency response" href="https://akut.ku.dk/english/">Emergency response</a></li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <div class="col-lg-3 footer-section">
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Web</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a aria-label="UCPH Cookies and privacy policy" href="https://about.ku.dk/cookies-and-privacy-policy/">Cookies and privacy policy</a></li>
                                <li><a aria-label="UCPH Accessibility statement" href="https://www.ku.dk/was">Accessibility statement</a></li>
                                <li><a aria-label="UCPH information security" href="https://informationssikkerhed.ku.dk/english/">Information security</a></li>
                              </ul>
                        </div>
                    </details>
                </div>
                <div class="footer-section-content">
                    <details>
                        <summary>
                            <h2 class="footer-col-header">Connect with UCPH</h2>
                        </summary>
                        <div class="footer-col">
                            <ul>
                                <li><a href="#">List</a></li>
                                <li><a href="#">List</a></li>
                                <li><a href="#">List</a></li>
                                <li><a href="#">List</a></li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>

</html>