<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="globalMenuItemRelation">{settings.globalMenu.relation}</f:variable>
<f:if condition="{globalnavigation}">
    <f:render section="GlobalMenu" arguments="{_all}" />
</f:if>
<f:section name="GlobalMenu">
    <f:if condition="{globalnavigation}">
        <nav class="navbar navbar-expand-lg" aria-label="{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xml:page.global-menu')}">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xml:mobile-menu-toggle')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarNavDropdown">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xml:page.global-menu')}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav globalmenu">
                        <f:for each="{globalnavigation}" as="item">
                            <li class="nav-item">
                                <a href="{item.link}" class="nav-link{f:if(condition: '{item.active} || {globalMenuItemRelation} == {item.data.uid}', then:' active')}" {f:if(condition: item.target, then: ' target="{item.target}"' )} {f:if(condition: item.current, then: ' aria-current="page"' )} {f:if(condition: item.data.nav_title, then: ' aria-label="{item.data.nav_title}"' )}>{item.title}</a>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </div>
        </nav>
    </f:if>
</f:section>

</html>