<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{languagenavigation}">
    <ul class="lang">
        <f:for each="{languagenavigation}" as="item">
            <f:if condition="{item.active} == 0">
                <f:then>
                    <li>
                        <a href="{item.link}" hreflang="{item.hreflang}" class="btn btn-outline-secondary" {f:if(condition: item.data.subtitle, then: ' aria-label="{item.data.subtitle}"' )}>
                            <soan>
                                <f:format.case mode="upper">{item.twoLetterIsoCode}</f:format.case>
                            </soan>
                            <span class="visually-hidden">{item.navigationTitle}</span>
                        </a>
                    </li>
                </f:then>
            </f:if>
        </f:for>
    </ul>
</f:if>

</html>