<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.ucph_lastpageupdates_timestamp}">
    <div class="container-fluid local-footer-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.last-modified" />
                    <time datetime="{f:format.date(format: '%Y-%m-%d', date: '{data.ucph_lastpageupdates_timestamp}')}">
                        <f:format.date format="{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.dateformat')}">{data.ucph_lastpageupdates_timestamp}</f:format.date>
                    </time>
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>