<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="skippy" aria-label="{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.label')}">
    <div class="container">
    <a class="d-inline-flex p-2 m-1" href="#global-menu">
        <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.global-menu" />
    </a>
    <a class="d-inline-flex p-2 m-1" href="#page-content">
        <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.page-content" />
    </a>
    <a class="d-inline-flex p-2 m-1" href="#page-footer">
        <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.page-footer" />
    </a>
    </div>
</nav>

</html>