<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="skippy visually-hidden-focusable overflow-hidden" aria-label="{f:translate(key: 'LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.label')}">
    <ul>
        <li><a class="d-inline-flex p-2 m-1" href="#page-content">
                <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.page-content" />
            </a></li>
        <li><a class="d-inline-flex p-2 m-1" href="#page-footer">
                <f:translate key="LLL:EXT:ucph_base_config/Resources/Private/Language/locallang.xlf:page.skiplinks.page-footer" />
            </a></li>
    </ul>
</nav>

</html>